{% extends "layout.html"%} {% block body %}
<h3>Hakkımızda</h3>
<hr />
<p>
  I can describe myself as a developer who is constantly eager to learn. I have
  been focusing on developing myself in the field of data science for a long
  time. Additionally, I strive to enhance my skills in test automation, web
  scraping, web development, and database applications. I also believe that I am
  well-adapted to emerging artificial intelligence technologies. As I progress
  confidently towards the goals I have set for myself, I believe that I will
  define myself as a professional developer, staying true to the roadmap I have
  created.
</p>
<hr />
{% endblock %}